.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-background-color: #f5f7fa;
}

/* Navbar */
.navbar {
    -fx-background-color: #1f6feb;
    -fx-padding: 10;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 15;
}

.nav-button:hover {
    -fx-background-color: #388bfd;
    -fx-background-radius: 5;
}

/* Title */
.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* Cards */
.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 4);
}